.w-e-toolbar {
  background-color: #fff !important;
  border-color: #efefef !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.w-e-toolbar .w-e-droplist {
  border-color: #efefef !important;
}

.w-e-text-container {
  border-color: #efefef !important;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
